.friendImg {
  width: 70px;
}
.friendName {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  color: #111;
}
.online {
  color: #00ff4c;
}
.offline {
  color: rgb(206, 5, 5);
}
